<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
  rel="stylesheet"
  href="/css/swiper-bundle.min.css"
/>

<script src="/javascript/swiper-bundle.min.js"></script>
   
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/404.css" type="text/css" >
    <title>custom 404</title>
</head>
<body>


    <main>
        <header id="header">
          
  
          <nav>
            <div class="container">
              <div class="logo">
              
                <a href="/" id="logo">Active</a>
              </div>
  
              <div class="links">
                <ul>
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/v1/active/about">About</a>
                  </li>
                  <li>
                      <a href="/v1/active/login">Login</a>
                    </li>
                    <li>
                      <a href="/v1/active/signup">Register</a>
                    </li>
                  <li>
                    <a href="#hireme" class="active">Hire me</a>
                  </li>
                </ul>
              </div>
  
              <div class="hamburger-menu">
                <div class="bar"></div>
              </div>
            </div>
          </nav>

        </header>

    </main>
    <div class="page-not-found">
<img src="/images/404-pages.jpeg", alt=""/>
<h1> Page Not Found</h1>
<p> Sorry the page you are looking for does not exists. 
    Click to go back to home page </p>
    
    <a href="/"><button > Home</button></a>

</div>

<script src="/javascript/jquery-3.6.0.js"></script>
    <script src="/javascript/isotope.pkgd.min.js"  crossorigin="anonymous"></script>

    <script src="/javascript/custom404.js"></script>
</body>
</html>