<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css" type="text/css" >
    <title>dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
      <h2 id="welcome"></h2>

    <div id="dashboard">
        <table class=" tplans">
      <tbody id="data">

      </tbody>
        </table>
    </div>

    <a href="/active/logout">
        <span>logout </span>
        </a>
    <script src="/javascript/dashboard.js"></script>
</body>
</html>