
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css" type="text/css" >
    <title>Home</title>
    
</head>
<body>

   
 
   <nav >
      <label class="logo"> Active</label>
      <ul>
          <li> <a class="current"  href="/active"> Home</a></li>
          <li> <a href="/active/about"> About Us</a></li>
          <li> <a href="/active/login"> Login</a></li>
          <li> <a href="/active/signup"> Register</a></li>

      </ul>  
   </nav>

   <h1> Home</h1>
   <h2> This is the Home page</h2>
   <script src="/javascript/home.js"></script>
</body>
</html>